
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style:normal;
}

.btn-primary {
    background-color: rgba(224, 44, 109, 1);
    color: rgba(255, 255, 255, 1);
}



/* influencer Related Style */

/* .display-flex {
    display: flex;
} */
.nav-bar{
    max-width: 1200px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}

.icon-search{
    margin-right: 15px;
}

.text-banner {
    font-weight: 700;
    font-size: 2rem;
    margin-left: 120px;
}

.nav-link {
    display: flex;
    text-decoration: none;
    margin-right: 40px;

}
.nav-item {
    list-style: none;
    font-size: 20px;
}

.head-container {
    display: flex;
    justify-content: space-between;
    }

.heading {
    margin-left: 120px;
}

.text-heading {
    width: 582px;
    height: 133px;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0px;
}

.text-description {
    width: 500px;
    height: 60px;
    margin-top: 0px;
}

.btn-primary {
    font-weight: 700;
    font-size: 1rem ;
    width: 196px;
    height: 44px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.images-bar {
    /* max-width: 100%; */
    /* margin-bottom: 70px; */
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 1110px;
    height: 110px;
    align-items: center;
}


/* .team-img-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: -50px;
    margin-top: 70px; 
} */
